.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-page {
  display: flex;
  align-items: center;
  width:100%;
  justify-content: space-between;
  padding: 24px 0;
}

.logo {
     
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
}


.logo-studio,
.header-nav-link {
  color: var(--navy-blue);
}

.header-site-nav {
    display: none;
}


.address {
    display: none;
}

/* Burger */

.btn-burger-menu {
    stroke: var(--navy-blue);
    background-color: var(--white);
    border: transparent;

}

.burger-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    display: flex;
    
    background-color: var(--white);
      
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    
    transform: translateX(100%);
    transition: transform var(--animation-time) var(--animation-cubic);

    outline: 1px solid red;
}

.burger-menu.is-open {
    transform: translateX(0%);    
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
    
}

.burger-links {
  display: flex;
  flex-direction: column;
  gap: 40px;

  font-weight: 700;
font-size: 36px;
line-height: 1.11;

letter-spacing: 0.02em;
text-transform: capitalize;
}

.burger-link-item {
  color: var(--navy-blue);
}

.burger-bottom {
  display: flex;
  flex-direction: column;
  
  gap: 48px;
  /* outline: 1px solid red; */
}

.burger-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}
.burger-tel {
  color: var(--iris);
  font-weight: 700;
font-size: 36px;
line-height: 1.11;

letter-spacing: 0.02em;
text-transform: capitalize;
}

.burger-email {
  color: var(--slate);
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.burger-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Hero */

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;

  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin: auto;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
}


/* Buttons */

.button {
  border-radius: 4px;
  border: 1px solid transparent;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button.btn-primary {
  display: block;
  padding: 16px 32px;
  height: 56px;
  min-width: 169px;
  border: none;
  margin: auto;

  color: var(--white);
  background-color: var(--iris);
  transition: background-color var(--animation-time) var(--animation-cubic),
    box-shadow var(--animation-time) var(--animation-cubic);
}
.button.btn-secondary {
  padding: 12px 24px;
  height: 48px;
  min-width: 69px;

  color: var(--iris);
  background-color: var(--cloud);
  border-color: #e7e9fc;

  transition: color var(--animation-time) var(--animation-cubic),
    background-color var(--animation-time) var(--animation-cubic),
    border var(--animation-time) var(--animation-cubic) box-shadow
      var(--animation-time) var(--animation-cubic);
}

.button.btn-primary:hover,
.button.btn-primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-close {
  position: absolute;
  top: 24px;
  left: 360px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;

  fill: var(--navy-blue);
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: fill var(--animation-time) var(--animation-cubic),
    background-color var(--animation-time) var(--animation-cubic);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--white);
  background-color: var(--ocean);
}

.btn-close {
  position: absolute;
  top: 24px;
  left: 360px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;

  fill: var(--navy-blue);
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: fill var(--animation-time) var(--animation-cubic),
    background-color var(--animation-time) var(--animation-cubic);
}

.burger-closebtn {
  
  
}

/* Section Advantages */

.advantages,
.our-team,
.customers {
  padding: 96px 0px;
}

.section-title {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;

}

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.advantages-list .title,
.team-list .title,
.filter-list .title {
  margin-bottom: 8px;

  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* font-weight: 700;
  font-size: 36px;
  line-height: 1.1; */
  letter-spacing: 0.02em;
  
}

.advantages-item {
  /* margin-bottom: 72px; */
  width: 100%;
}

.advantages-icon-box {
  display: none;
}

.text {
    margin-bottom: 0px;
    
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

/* Section Examples */

.section.examples {
  display: none;
}

/* Section Our team */

.section.our-team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid blue; */
}

.team-foto {
    width: 264px;
  margin-bottom: 72px;

  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.pos-title {
  padding: 32px 0;
}

.team-list .name {
  text-align: center;
}

.team-list .position {
  text-align: center;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team-icon-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-box-social {
    width: 40px;
    height: 40px;
    display: inline-flex;  
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation-time) var(--animation-cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}
.icon-social {
  fill: var(--cloud);
}

/* Customers Section 5 */

.customers-list {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}

.customers-logo-box {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);

  transition: border var(--animation-time) var(--animation-cubic),
    color var(--animation-time) var(--animation-cubic);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--ocean);
}

.customers-logo {
  display: inline-block;
  width: 104px;
  height: 56px;
  fill: currentColor;
  transition: fill var(--animation-time) var(--animation-cubic);
}

.customers-logo:hover,
.customers-logo:focus {
  fill: var(--ocean);
}

/* Portfolio  Filter*/

/* Portfolio Filter */

/* FOOTER */

.footer {
    background-color: var(--navy-blue);
    padding: 96px 0;
    display: flex;
  }

  .footer-container {
  width: 427px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 72px;
  /* outline: 1px solid red;   */
}

.footer-chapter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);

}

.footer .logo-studio {
  color: var(--cloud);
}
.footer .slogan {
  max-width: 268px;
  margin-bottom: 0;
  color: var(--cloud);
}

.footer-socialbox {
    min-width: 208px;
    height: 80px;
}

.footer-social-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.footer-social-gap {
    gap: 16px;
  }

.footer-social:hover,
.footer-social:focus {
    background-color: var(--green);
}

.footer-icon-social {
  fill: var(--cloud);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  gap: 16px;
}

.footer-label {
  width: 100%;
}

.footer-subscribe-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  color: var(--white);
  background-color: var(--navy-blue);
  border-radius: 4px;
  border: 1px solid var(--white);
  outline: 1px solid transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border-color var(--animation-time) var(--animation-cubic);
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border-color: var(--iris);
}

.footer-subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
  
    padding: 8px 24px;
    gap: 16px;
    border: 0;
    width: 165px;
    height: 40px;
    color: var(--white);
    background-color: var(--iris);
    border-radius: 4px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color var(--animation-time) var(--animation-cubic);
  }

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--ocean);
}

.footer-airplane {
  fill: var(--white);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  transition: opacity var(--animation-time) var(--animation-cubic),
    visibility var(--animation-time) var(--animation-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  width: 392px;
  height: 586px;
  background-color: var(--diary-modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
}

.modal-title {
  margin: 0;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.modal-label {
  position: relative;
  margin-bottom: 8px;
}

.modal-item {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--light-slate);
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 34px;

  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  outline: 1px solid transparent;

  transition: outline var(--animation-time) var(--animation-cubic);
}

.modal-input:hover,
.modal-input:focus {
  outline: 1px solid var(--iris);
}

.modal-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  fill: var(--navy-blue);
  transition: fill var(--animation-time) var(--animation-cubic);
}

.modal-input:hover ~ .modal-svg,
.modal-input:focus ~ .modal-svg {
  fill: var(--iris);
}

.modal-label-comment {
  margin-bottom: 18px;
}

.textarea {
  height: 120px;
  resize: none;
}

.modal-policy {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;  
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  color: transparent;
  background-color: var(--white);  
}

.modal-checkbox-svg {
  fill: var(--white)
}

.checkbox:checked + .modal-policy > .modal-checkbox {
  background-color: var(--ocean);
}

.modal-policytext {
  display: inline-block;
  font-weight: 400;
  margin: 0 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  border-radius: 2px;
  border: 1px solid transparent;
}

.modal-policylink {
  display: block;
  color: var(--iris);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-btn-send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 169px;
  height: 56px;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--animation-time) var(--animation-cubic);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: var(--ocean);
  
}




@media screen and (min-width: 429px) {
  .container {
    /* width: 428px; */
    /* outline: solid red; */
    
  }
  .hero {
   background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-tablet.jpg);   
  }

}
