@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  

  /* Header */

  .burger-menu {
    display: none;
  }

  .btn-burger-menu {
    display: none;
  }

  .header-nav-page {
  justify-content: flex-start;
   
  }

  .logo {
    margin-right: 120px; 
}




  .header-site-nav {
    display: flex;
    gap: 40px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-nav-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
  
    transition: color var(--animation-time) var(--animation-cubic);
  }

  .header-nav-link:hover::after,
.header-active.header-nav-link::after {
  content: '';

  position: absolute;
  left: 0;

  bottom: -4px;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--ocean);
}

.header-nav-link:hover,
.header-nav-link:focus,
.addr-link:hover,
.addr-link:focus,
.customers-link:hover,
.customers-link:focus {
  color: var(--ocean);
}

  .address {
    display:flex;
    margin-left: auto;
    font-style: normal;
    gap: 40px;
    
} 

.address-item {
    display: block;
}

.addr-link {
    
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);

  transition: color var(--animation-time) var(--animation-cubic);
}

  /* Hero */

 

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    
  }

  /* Section Advantages */

  .advantages-list,
  .customers-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages-list {
    column-gap: 24px;

  }

  .advantages-list .title {
    text-align: initial;
    
  }

  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
    /* outline: 1px solid blue; */
  }

  /* Section Our Team */

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap:64px;
  }

  .team-foto {
    margin-bottom: 0;
  }
  .team-foto:not(:last-child) {
    margin-bottom: 0;}


  /* Customers Section 5 */

  .customers-list {
    column-gap: 24px;
    row-gap: 72px;

    max-width: 552px;
  }

  .customers-logo-box {
    width: calc((100% - (24px*2)) / 3);
}

/* Portfolio  Filter*/

/* Portfolio Filter */

/* Customers */

.customers-link {
  /* max-width: 168px;
  height: 88px; */
  /* width: 100%;
  height: 100%; */
}

.customers-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */


.footer-container {
    width: 552px;
    align-items: flex-start;

    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

.footer-chapter:nth-child(1) {
   width: 264px;
  }
  .footer-chapter:nth-child(2) {
    width: 208px;
  }
  .footer-chapter:nth-child(3) {
    width: 453px;
}

.footer-chapter {
    align-items: flex-start;
    
}

.footer .slogan {
    width: 264px;
  }

  .footer-subscribe {
  flex-direction: row;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
}

/* Modal */

.modal {
  width: 408px;
  height: 586px;
   padding: 72px 24px 24px 24px;
}

.modal-label-comment {
  margin-bottom: 16px;
}


}

@media screen and (min-width: 769px) {
 
  .hero {
   background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/img-17.jpg);   
  }

}
